@import '../../scss/utilities/index';

.privacy {
    font-family: $font-family-primary;
    text-align: center;
    margin: 1rem;
}

a {
    color: $grey;
    font-weight: bold;
}

li::marker {
    color: transparent;
}