// ==========================================================================
// Buttons
// 	 .btn--default
// 	 .btn--primary
// 	 .btn--secondary
// ==========================================================================

.btn {
  @include m(primary) {
    color: $white;
    background: $gold;
    border-radius: 0.5rem;
    padding: .5rem 3rem;
    font-family: $font-family--bold;
    transition: box-shadow 0.4s ease-in;
    &:hover {
      box-shadow: 0 0 30px 7px palette(gold, dark);
    }
    &:active &:visited {
    color: palette(gold, light)
    }
  }
  @include m(secondary) {
    background: $white;
    border-radius: 0.5rem;
    padding: .5rem 3rem;
    color: $dark-grey;
    font-family: $font-family--bold;
    transition: box-shadow 0.4s ease-in;
    &:hover {
      box-shadow: 0 0 30px 7px rgba(255,255,255, 0.8)
    }
    &:active &:visited {
      color: palette(gold, light)
    }
  }
}
