// ==========================================================================
// Variables
// ==========================================================================

// Font Stacks


$font-url--title         :  'euphorigenic';
$font-family-primary     : 'montserrat-regular';
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--bold       : 'montserrat-bold';
$font-family--light      : 'montserrat-light';


@font-face{
  font-family: euphorigenic;
  font-style:normal;
  font-weight:400;
  src:local('Euphorigenic'),
  local('Euphorigenic-Regular'),
  url(http://allfont.net/cache/fonts/euphorigenic_ce57d3e1b3b16f52112a8b54d6357087.woff) format('woff'),url(http://allfont.net/cache/fonts/euphorigenic_ce57d3e1b3b16f52112a8b54d6357087.ttf) format('truetype')}

  @font-face{
    font-family: montserrat-regular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-weight:400;
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
  }

  @font-face{
    font-family: montserrat-light;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    src: url('../../assets/fonts/Montserrat-Light.ttf');
  }

  @font-face{
    font-family: montserrat-bold;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-weight: 800;
    src: url('../../assets/fonts/Montserrat-Bold.ttf');
  }

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors
$white : #fff;
$black : #0b0b0b;
$grey  : rgb(134, 133, 133);
$dark-grey: #151515;
$light-grey: #F5F5F5;
$contrast-color: #5cf0b8;

// color Usage
$color-primary    : $grey ;
$color-secondary  : $dark-grey;
$color-shadow      : rgba($black, .2);

// Color Palette Modifiers
$palettes: (
  grey: (
    xx-light : lighten($grey, 43%),
    x-light  : lighten($grey, 35%),
    light    : lighten($grey, 12%),
    base     : $grey,
    dark     : darken($grey, 8%),
    x-dark   : darken($grey, 16%)
  ),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);


// UI Colors
$ui-colors: (
  default : $grey,
  success : $light-grey,
  error   : red,
  warning :  $contrast-color,
  info    : $contrast-color,
);



// Text
$base__font-size  : 16px;
$base__line       : 24px;
$letter-space     : 1px;

// Layout
$max-width: 1100px;

// Grid
$g-col-width    : 50px;
$g-gutter-width : 10px;
$g-col-count    : 12;
$g-cont-max-w   : 1000px;

// Transitions
$trns-duration   : .3s;

// Breakpoints
$breakpoints: (
  'xm': 480px,
  'sm': 576px,
 'med': 768px,
  'lg': 992px,
);