// ==========================================================================
// Errors
// ==========================================================================

// 404 error
.container, .row {
  height: 100%;
}

p {
  margin-top: 1rem;
}

img {
  width: 18em;
}

.error {
  text-align: center;
}
